{% extends 'admin/slide.html.twig' %}

{% block title %}FICHE DE RENSEIGNEMENTS{% endblock %}
 
{% block body %}
    <div id="sectionAimprimer" style="padding:30px 40px 0 40px;font-size:20px; font-family:times">
        <span>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;UNIVERSITE CADI-AYYAD<br>
            <b>FACULTE DES SCIENCES ET TECHNIQUES &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                D.O.T.I : {{ document.doti }}&nbsp; &nbsp; &nbsp;</b><br>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;MARRAKECH &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 
                <b>C.I.N : {{ document.cin }}&nbsp; &nbsp; &nbsp;</b><br><br>
        </span>
        <center>
            <h4>FICHE DE RENSEIGNEMENTS<br>
            ***<br>
            (PERSONNEL ADMINISTRATIF)</h4>
        </center><br><br>
        <div style="">
            <p>NOM : <b>{{ document.nom }}</b></p>
            <p>PRENOM : <b>{{ document.prenom }}</b></p>
            <p>SEXE : <b>{{ document.sexe }}</b></p>
            <p>DATE ET LIEU DE NAISSANCE : <b>{{ document.datenaiss | date('d/m/Y')}}</b></p>
            <p>NATIONALITE : <b>{{ document.nationalite }}</b></p>
            <p>ETAT CIVIL : <b>{{ document.etatcivil }}</b></p>
            <p>
                SITUATION DU CONJOINT : <b>{{ document.situationconj }} </b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                D.O.T.I : <b>{{ document.doticonj }}</b>
            </p>
            <p>NOMBRE D'ENFANTS A CHARGE : <b>{{ document.nbrenfant }}</b></p>
            <p>GRADE : <b>{{ document.grade }}</b></p>
            <p>FONCTION EXERCEE : <b>{{ document.fonction }}</b></p>
            <p>ECHELLE & ECHELON : <b>{{ document.echelle }}</b></p>
            <p>INDICE : <b>{{ document.indice }} </b></p>
            <p>DATE DE RECRUTEMENT : <b>{{ document.daterecrut | date('d/m/Y')}}</b></p>
            <p>DIPLOME (NIVEAU SCOLAIRE): <b>{{ document.diplome }}</b></p>
            <p>ADRESSE PERSONNELLE : <b>{{ document.adpersonnel }}</b></p>
            <p>ADRESSE ELECTRONIQUE : <b>{{ document.adelectronique }}</b></p>
            <p>ADRESSE DE VACANCES : <b>{{ document.advacance }}</b></p>
            <p>Tél : <b>{{ document.telephonne }}</b></p>
            <br><br><br><br>
                <p style="text-align:right">
                    Marrakech, le <b>{{ document.createdAt | date('d/m/Y')}}</b> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<br>
                    Signature de l'intéressé(e)&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                </p>
            <br><br><br><br>
        </div>
    </div>
</div>
    <center>
      <button class="button" onClick="imprimer('sectionAimprimer')">
        <i class="fa fa-print" aria-hidden="true"></i> Imprimer
      </button>
    <center>
{% endblock %}


