{% extends 'admin/slide.html.twig' %}

{% block title %}Acceuil{% endblock %}
 
{% block body %}
<div class="container">
        <center><img src="{{asset('assets/images/logo.png')}}" style="align: right; " width="370px"></center>
        <hr><br>
        <div class="row">
          <div class="col-md-6">
            <div class="small-box bg-success">
              <div class="inner">
                  <h3>Demandes</h3>
                  <p>Recevoir les demandes envoyés pour les traiter</p>
              </div>
              <div class="icon">
                  <i class="fa fa-file"></i>
              </div>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Absence'}) }}">
                Demandes d'absence <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'OrdreMission'}) }}">
                Demande d'une ordre de mission <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'AttestationSalaire'}) }}">
                Demande d'une attestation de salaire <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'AttestationTravail'}) }}">
                Demande d'une attestation de taravail <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="small-box bg-warning">
              <div class="inner">
                  <h3>Parametres</h3>
              </div>
              <div class="icon">
                  <i class="fa fa-cog"></i>
              </div>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Departement'}) }}">
                Départements et services de la FSTG <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Vehicule'}) }}">
                Véhicules de services <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Chauffeur'}) }}">
                Chauffeurs de véhicules de service <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('admin_parametres') }}">
                Modifie le logo de la FSTG ou l'en-tete de l'ordre de mission <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('admin_tableau_absence') }}">
                Tableau récapulatif des absences <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="small-box bg-info">
              <div class="inner">
                  <h3>Personnel de la FSTG</h3>
              </div>
              <div class="icon">
                  <i class="fa fa-user"></i>
              </div>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Personnel'}) }}">
                Parcourir la liste des personnels <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('admin_add_personnel') }}">
                Ajouter un personnel <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="small-box bg-primary">
              <div class="inner">
                  <h3>Autres</h3>
              </div>
              <div class="icon">
                  <i class="fa fa-cogs"></i>
              </div>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Historique'}) }}">
                Historique de demandes <i class="fa fa-arrow-circle-right"></i>
              </a>
              <a class="small-box-footer" href="{{ path('message') }}">
                Messagerie <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>       
</div>    
{% endblock %}