{% extends 'admin/slide.html.twig' %}

{% block title %}Ordre de mission{% endblock %}
 
{% block body %}
    <div id="sectionAimprimer" style="padding:0 40px 0 40px; font-family:times">
        <div>
            <b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Royaume du Maroc<br>
            Ministère de l'Education Nationale, de la Formation Professionnelle,<br>
              de l'Enseignement Supérieur et de la Recherche Scientifique<br>
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Département de l'Enseignement Supérieur<br>
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;et de la Recherche Scientifique<br>
             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Université Cadi Ayyad<br>
             &nbsp; &nbsp; &nbsp;Faculté des Sciences et Techniques - Marrakech</b>
        </div><br><br><br> 
        <center>   
            <h3>ORDRE DE MISSION</h3>
                {% if document.frais %}
                    avec frais
                {% else %}
                    Sans frais
                {% endif %}  
        </center>
        
        <div style="font-size:20px">
            <p style="text-align: right">N° : {{ document.id }}/{{ "now" | date('Y') }} &nbsp; &nbsp; &nbsp;</p><br>
            <br><br>
            <p><strong>&nbsp; &nbsp; &nbsp;
                Le Doyen de la Faculté des Sciences et Techniques-Marrakech ordonne à :</strong>
            </p>
            <p>Nom et Prénom : <b>{{document.nom}} {{document.prenom}}</b></p>
            <p>Destination : <b>{{document.destination}}</b></p>
            <p>Objet de la mission : <b>{{document.objet}}</b></p>
            <p>Moyen de transport : <b>{{document.transport}}</b></p>
            <p>Chauffeur : <b>{{document.chauffeur}}</b></p>
            <p>Membres de la mission : <b>{{document.membres}}</b></p>
            <p>Date de départ : <b>{{document.dateDepart | date('d/m/Y')}}</b>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Heure de départ : <b>{{document.heureDep}}</b></p>
            <p>Date de retour: <b>{{document.dateRetour | date('d/m/Y')}}</b>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Heure de retour: <b>{{document.heureRetour}}</b></p>
            <p>Et se présentra à : <b>{{document.destination}}</b></p>
            <br>
            <strong><center>
                <p dir="rtl" lang="ar">المطلوب من رجال السلطة ان يقدموا معونتهم ومساعدتهم لحامل هذا الأمر  بالمهمة</p>
                <p>Les autorités sont priées d preter aide et assistance au porteur du présent Ordre de Mission</p><br></center>
            </strong>
            <p style="text-align: right;">Fait à Marrakech, le : {{ document.createdAt | date('d/m/Y') }} &nbsp; &nbsp; &nbsp;</p>
            <br>
        </div>
    </div>
</div>
    <center>
      <button class="button" onClick="imprimer('sectionAimprimer')">
        <i class="fa fa-print" aria-hidden="true"></i> Imprimer
      </button>
    <center>

{% endblock %}

