<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>        
    </head>
    <body>
        <div class="area"></div>
            <nav class="main-menu">
                <ul>              
                    <li>
                        <a href="{{ path('admin_document', {repo: 'Personnel', id: app.user.personnel.id}) }}"  class="slide">
                            <i class="fa fa-user fa-2x"></i>
                            <span class="nav-text">
                                {{ app.user.personnel.nom }} {{ app.user.personnel.prenom }}
                            </span>
                        </a>
                    
                    </li><br><br>
                    <li>
                        <a href="{{ path('admin') }}" class="slide">
                            <i class="fa fa-home fa-2x"></i>
                            <span class="nav-text">
                                Accueil
                            </span>
                        </a>
                    
                    </li>
                    <li class="has-subnav">
                        <a href="{{ path('admin_liste_documents', {repo: 'AttestationTravail'}) }}"  class="slide">
                            <i class="fa fa-file fa-2x"></i>
                            <span class="nav-text">
                                Attestations de travail
                            </span>
                        </a>
                        
                    </li>
                    <li class="has-subnav">
                        <a href="{{ path('admin_liste_documents', {repo: 'AttestationSalaire'}) }}"  class="slide">
                        <i class="fa fa-file-text fa-2x">
                                
                        </i>
                            <span class="nav-text">
                                Attestations de salaire
                            </span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="{{ path('admin_liste_documents', {repo: 'Absence'}) }}" class="slide">
                            <i class="fa fa-list-alt fa-2x"></i>
                            <span class="nav-text">
                                Demandes d'absence
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_liste_documents', {repo: 'OrdreMission'}) }}" class="slide">
                            <i class="fa fa-list fa-2x"></i>
                            <span class="nav-text">
                            Ordres de mission
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_add_personnel') }}" class="slide">
                            <i class="fa fa-user-plus fa-2x"></i>
                            <span class="nav-text">
                            Ajout d'un personnel
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_liste_documents', {repo: 'Personnel'}) }}" class="slide">
                            <i class="fa fa-list-ol fa-2x"></i>
                            <span class="nav-text">
                            Liste des personnels
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_tableau_absence') }}" class="slide">
                            <i class="fa fa-th fa-2x"></i>
                            <span class="nav-text">
                            Tableau d'absence
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('message') }}" class="slide">
                            <i class="fa fa-envelope fa-2x"></i>
                            <span class="nav-text">
                            Messagerie
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user') }}" class="slide" class="slide">
                            <i class="fa fa-arrow-left fa-2x"></i>
                            <span class="nav-text">
                            Espace d'utilisateur
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_liste_documents', {repo: 'Historique'}) }}" class="slide">
                            <i class="fa fa-history fa-2x"></i>
                            <span class="nav-text">
                            Historique de demandes
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_parametres') }}" class="slide">
                            <i class="fa fa-cog fa-2x"></i>
                            <span class="nav-text">
                            Paramètres
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="logout">
                    <li>
                    <a href="{{ path('security_logout') }}" class="slide">
                            <i class="fa fa-power-off fa-2x"></i>
                            <span class="nav-text">
                                Logout
                            </span>
                        </a>
                    </li>  
                </ul>
            </nav>   
            {% block body %}{% endblock %}
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            color: #1a1a1a;
            background-color: #F1F1F1; }
        .container {
            margin-top: 30px;
            margin-bottom: 15px;
            margin-left: 90px;
            min-height: 90vh;
            width:100%;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); }
    </style>

    <script src="{{asset('assets/js/script.js')}}"></script>
</html>
