{% extends 'admin/slide.html.twig' %}

{% block title %}Tableau des absences{% endblock %}

{% block body %}
    <h1>Taleau récapulatif des absences</h1>
    
        {{ form_start(form) }}
            <div class="form-row align-items-end">
                    {{form_row(form.ppr)}}
                    {{form_row(form.submit)}}
            </div>
        {{ form_end(form) }}
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr class="table-success">
                <th scope="col" colspan="4">
                </th>
                <th scope="col" colspan="3">Congés de maladie</th>
                <th scope="col" colspan="3">Autorisations exceptionnelles</th>
            </tr>
            <tr class="table-secondary">
                <th scope="col">PPR</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                {% for i in 0..1 %}
                    <th scope="col">Durée</th>
                    <th scope="col">Du</th>
                    <th scope="col">Au</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% if documents|length > 0 %}
            {% for absence in documents %}
            <tr>
                <td>{{absence.personnel.ppr}}</td>
                <td>{{absence.personnel.nom}}</td>
                <td>{{absence.personnel.prenom}}</td>
                {% if absence.cause == 'مرض' %}
                    <td>{{absence.duree}} jrs</td>
                    <td>{{absence.apartir}}</td>
                    <td>--</td>
                    <td scope="col" colspan="3"></td>
                {% endif %}
                {% if absence.cause == 'رخصة إستثنائية' %}
                    <td scope="col" colspan="3"></td>
                    <td>{{absence.duree}} jrs</td>
                    <td>{{absence.apartir}}</td>
                    <td>--</td>
                {% endif %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {% else %}
            <center><p class="badge rounded-pill bg-danger">Il n'ya aucune absence</p></center>
        {% endif %}
        <div class="pagination">
            {{knp_pagination_render(documents) }}
        </div><br>
</div>
{% endblock %}
