{% extends 'admin/slide.html.twig' %}

{% block title %}{{ titre }}{% endblock %}
 
{% block body %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-account-plus"></i>
        </span> {{ titre }}
    </h3>
</div>
<div class="card">
    <div class="card-body">
        {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center">
                    {{ message }}
                </div>
        {% endfor %}
        <div class="forms-sample">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group row">
                        <div class="col-sm-12">  
                            {{form_row(form.ppr)}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">  
                            {{form_row(form.cin)}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">  
                            {{form_row(form.nom)}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">  
                            {{form_row(form.nom_ar)}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">  
                            {{form_row(form.prenom)}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">  
                            {{form_row(form.prenom_ar)}}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <div class="col-sm-12">
                        <img src="{{asset('assets/images/add-user.png')}}" alt="image" width="100%" class="m-4"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.sexe) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.sexe_ar) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.nationalite) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.nationalite_ar) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.date_naissance) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.lieunaiss) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.etatcivil) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.situation_familiale_ar) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.situationconj) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.doticonj) }} 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.nbrenfant) }} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.telephonne) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.email) }} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.adpersonnel) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.advacance) }} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.diplome) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.date_recrutement) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.echelle) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.indice) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.grade) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.grade_ar) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.anciennete_grade) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.date_effet_grade) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.echellon) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.date_effet_echelon) }} 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.anciennete_echelon) }} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.position) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.date_position) }} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.fonction) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.date_fonction) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.situation_administrative_ar) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_row(form.anciennete_administrative) }} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_row(form.etablissement_ar) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-12"> 
                            {{ form_widget(form) }} 
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>             
    </div>
</div>
{% endblock %}