<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-account-box"></i>
        </span> Profil - {{document.nom}} {{document.prenom}}
    </h3>
</div>

<div class="row">
    <div class="col-md-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-description">Prénom (Arabe): <code>{{document.prenomAr}}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Nom (Arabe) : <code>{{document.nomAr}}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Sexe (Arabe) : <code>{{document.sexeAr}}</code></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-description">Date de naissance: <code>{{document.dateNaissance | date('d/m/Y')}}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Nationalité (Arabe) : <code>{{document.nationaliteAr}}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Situation familiale (Arabe) : <code>{{document.situationFamilialeAr}}</code></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-description">Situation administrative : <code>{{document.situationAdministrativeAr }}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Ancienneté administrative : <code>{{document.ancienneteAdministrative}}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Date de recrutement : <code>{{document.dateRecrutement | date('d/m/Y')}}</code></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-description">Echellon : <code> {{document.echellon }}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Date d'effet échellon : <code>{{document.dateEffetEchelon | date('d/m/Y')}}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Ancienneté echellon : <code>{{document.ancienneteEchelon}}</code></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-description">Grade : <code> {{document.grade }}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Date d'effet grade : <code>{{document.dateEffetGrade | date('d/m/Y')}}</code></p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-description">Ancienneté grade : <code>{{document.anciennetegrade }}</code></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-description">Fonction : <code>{{document.fonction }}</code></p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-description">Date de fonction : <code>{{document.dateFonction | date('d/m/Y')}}</code></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-description">Position : <code>{{document.position }}</code></p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-description">Date de position : <code>{{document.datePosition | date('d/m/Y')}}</code></p>
                        </div>
                    </div>  
            </div>
        </div>
    </div>

    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                    <h4 class="card-title">{{document.nom}} {{document.prenom}}</h4>
                    <p class="card-description">P.P.R <code>{{document.ppr}}</code></p>
                    <p class="card-description">CIN <code>{{document.cin}}</code></p>
                    <div class="template-demo">
                        {% if document.filename %}
                            <img src="{{ asset('uploads/images/personnels/' ~ document.filename) }}" width="100%">
                        {% else %}
                            <img src="{{ asset('uploads/images/personnels/avatar.jpg') }}"  width="100%"><br>
                            Vous n'avez pas définit d'image pour ce personnel
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>            
</div>