{% extends 'includes/_liste-documents.html.twig' %}

{% block title %}Demandes d'absence{% endblock %}

{% block titre %}Demandes d'absence{% endblock %}

{% block col_head %}
    <th><i class="fa fa-bell-o" aria-hidden="true"></i> Statut</th>
    <th><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Motif</th>
{% endblock %}

{% block col_body %}            
    <td><span class="btn btn-sm rounded-pill btn-danger">{{ document.statut}}</span></td>  
    <td><a href="{{ asset('uploads/motifPDF/' ~ document.filename) }}">Voir</a></td>              
            
{% endblock %}
 
{% block buttons %}
    <a href="{{ path('admin_document', {repo: 'Absence', id: document.id}) }}" class="btn btn-warning btn-sm">
        <i class="fa fa-eye" aria-hidden="true"></i> Voir
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'Absence', id: document.id, etat: 'Refusé par l\'administration'}) }}" class="btn btn-danger btn-sm">
        <i class="fa fa-times" aria-hidden="true"></i> Refusé
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'Absence', id: document.id, etat: 'Disponible'}) }}" class="btn btn-info btn-sm">
        <i class="fa fa-hourglass-end" aria-hidden="true"></i> Disponible
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'Absence', id: document.id, etat: 'Reçu'}) }}" class="btn btn-success btn-sm">
        <i class="fa fa-check" aria-hidden="true"></i> Reçu
    </a>
{% endblock %}