{% extends 'includes/_liste-documents.html.twig' %}

{% block title %}Demandes d'absence{% endblock %}

{% block titre %}Demandes d'absence{% endblock %}

{% block col_head %}
    <th>Statut</th>
    <th>Motif</th>
{% endblock %}

{% block col_body %}            
    <td>{{ document.statut | typedemande | raw }}</td>  
    <td><a href="{{ asset('uploads/motifPDF/' ~ document.filename) }}" class="btn btn-light text-info btn-sm">Voir</a></td>              
            
{% endblock %}
 
{% block buttons %}
    <a href="{{ path('admin_document', {repo: 'Absence', id: document.id}) }}" class="btn btn-outline-secondary btn-sm btn-icon-text">
        <i class="mdi mdi-eye btn-icon-prepend" aria-hidden="true"></i> Voir
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'Absence', id: document.id, etat: 'Refusé par l\'administration'}) }}" class="btn btn-outline-secondary btn-sm btn-icon-text">
        <i class="mdi mdi-times btn-icon-prepend" aria-hidden="true"></i> Refusé
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'Absence', id: document.id, etat: 'Disponible'}) }}" class="btn btn-outline-secondary btn-sm btn-icon-text">
        <i class="mdi mdi-av-timer btn-icon-prepend" aria-hidden="true"></i> Disponible
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'Absence', id: document.id, etat: 'Reçu'}) }}" class="btn btn-outline-secondary btn-sm btn-icon-text">
        <i class="mdi mdi-check-all btn-icon-prepend" aria-hidden="true"></i> Reçu
    </a>
{% endblock %}