{% extends 'admin/slide.html.twig' %}

{% block title %}Tableau des absences{% endblock %}

{% block body %}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-table"></i>
        </span> Tableau récapulatif des absences
    </h3>
</div>

 <div class="card">
    <div class="card-body"> 
        <div class="form-inline">
            {{ form_start(form) }}
                <div class="form-row align-items-baseline">
                    <div>
                        {{form_row(form.annee)}}
                    </div>
                    <div>
                        {{form_row(form.ppr)}}
                    </div>
                    <div>
                        {{form_row(form.submit)}}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>  
     
        <div class="table-responsive">
            {% if documents|length > 0 %}
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col" colspan="3">   
                        </th>
                        <th scope="col" colspan="3">Congés de maladie</th>
                        <th scope="col" colspan="3">Autorisations exceptionnelles</th>
                    </tr>
                    <tr>
                        <th scope="col">PPR</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        {% for i in 0..1 %}
                            <th scope="col">Durée(jours)</th>
                            <th scope="col">Du</th>
                            <th scope="col">Au</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for absence in documents %}
                        <tr>
                            <td>{{absence.personnel.ppr}}</td>
                            <td>{{absence.personnel.nom}}</td>
                            <td>{{absence.personnel.prenom}}</td>
                            {% if absence.cause == 'مرض' %}
                                <td class="dureeMaladie">{{absence.duree}}</td>
                                <td>{{absence.apartir | date('d/m/Y')}}</td>
                                <td>{{absence.jusquA | date('d/m/Y')}}</td>
                                <td scope="col" colspan="3"></td>
                            {% endif %}
                            {% if absence.cause == 'رخصة إستثنائية' %}
                                <td scope="col" colspan="3"></td>           
                                <td class="dureeExcep">{{absence.duree}}</td>      
                                <td>{{absence.apartir | date('d/m/Y')}}</td>
                                <td>{{absence.jusquA | date('d/m/Y')}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td scope="col" colspan="3" class="text-right"><button class="btn btn-gradient-primary btn-sm btn-icon-text" onClick="total()">TOTAL</button></td>
                        <td scope="col" colspan="3" id="totalMaladie"></td>
                        <td scope="col" colspan="3" id="totalExcep"></td>
                    </tr>
                </tbody>
            </table>
            {% else %}
                <center><p class="badge rounded-pill bg-danger">Il n'y a aucune absence</p></center>
            {% endif %}
            <div class="pagination">
                {{knp_pagination_render(documents) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
