{% extends 'user/slide.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div class="container">
    <center><img src="{{asset('assets/images/logo.png')}}" style="align: right; " width="370px"></center>
            <hr>
            <h1>Messagerie</h1>
            <a href="{{ path('send') }}" class="btn-danger btn">
                    <i class="fa fa-plus" aria-hidden="true"></i> Nouveau message
            </a>
            <table class="table table-striped table-hover">
                <tbody>
                    {% for message in messages %} 
                    <tr class="unread">
                        <td class="inbox-small-cells">                    
                            <a href="{{ path("delet", {id: message.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-excel-fill text-danger" viewbox="0 0 16 16">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5.884 4.68L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 1 1 .768-.64z"/>
                                </svg>
                            </a>    
                        </td>
                        <td class="view-message  dont-show">{{ message.title }} 
                        {% if message.isRead != true %}
                         <small class="badge badge-danger text-light">Nouveau message</small>
                        {% endif %}
                        </td>
                        <td class="view-message  dont-show">De : {{ message.sender.personnel.nom }} {{ message.sender.personnel.prenom }}</td>
                        <td class="view-message ">
                        {% if message.title == 'Demande validation : Ordre de mission' %}
                            <a href="{{ path('user_document', {repo: 'OrdreMission', id: message.message, idMsg:message.id}) }}">
                                Voir la demande
                            </a>
                        {% elseif message.title == 'Demande validation : Absence' %}
                            <a href="{{ path('user_document', {repo: 'Absence', id: message.message, idMsg:message.id}) }}">
                                Voir la demande
                            </a>
                        {% else %}
                            <a href="{{ path("read", {id: message.id}) }}">Lire le message</a>
                        {% endif %}
                        </td>
                        <td class="view-message  text-right"><i class="fa fa-paperclip"></i> {{ message.createdAt|date('d/m/Y à H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class="pagination">
            {{knp_pagination_render(messages) }}
        </div><br>
</div>
{% endblock %}
