
{% extends 'user/slide.html.twig' %}

{% block title %}
    {{message.title}}
{% endblock %}
{% block body %}
         <center><img src="{{asset('assets/images/logo.png')}}" style="align: right; " width="370px"></center>
        <hr>
        <h1>Messagerie</h1> 
        <div class="card mb-3">
            <div class="card-header"><h4>{{ message.title }}</h4>
            <small class="card-subtitle text-muted">Envoyé par {{ message.sender }} à {{message.createdAt | date}}</small>
            </div>
            <div class="card-body">
                <h6 class="card-text">{{ message.message | raw }}</h6>
            </div>
        </div>


{% endblock %}
