<div class="row"> 
      <div class="col-md-3">
        <div class="logo_background">
            <img src="{{asset('assets/images/logo_bleu.gif')}}" width="320px" class="logo_form"/>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7 form">
        <h1>{{ titre }}</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
            <ul class="form-list">
            {% if titre == 'Ordre de mission' %}
                    <li>
                    <label class="form-label label">Transport</label>
                    <select class="form-select form-control" name="transport">
                        <option>Transport public</option>
                        <option>Voiture personnel</option>
                        <option>Transport universitaire</option>
                    </select>
                    </li>
                    <label class="form-label text-danger"> ** Si vous utilisez votre voiture comme transport, merci d'ajouter le matricule. Sinon laissez ce champs vide</label>
                    <li>
                        <input type="text" class='form-control' placeholder="matricule ..." name="matricule">
                    </li>
      {% endif %}
                <li class="form-list__row">            
                    {{ form_widget(form) }}
                </li>
            </ul>
        {{ form_end(form) }}
      </div>
    </div>