<center><img src="https://www.studengo.com/assets/img/uniimages/Dessin12facsciencemarac_logo.png" style="align: right; " width=270px></center>
    <hr>
<div class="mt-4">  
    <div> 
        <h1>
            Données de {{document.nom}} {{document.prenom}}
        </h1>
        <a href="{{ asset('uploads/brochures/' ~ document.brochureFilename) }}">Voir la photo</a>
        
        <div class="row">
            <div class="col-md-4">  
                <table class="table table-light">
                    <tr>
                        <td>P.P.R</td>
                        <td>
                            <b> {{document.ppr}} </b>
                        </td>
                    </tr>
                    <tr>
                        <td>CIN</td>
                        <td><b> {{document.cin}} </b></td>
                    </tr>
                    <tr>
                        <td>Prénom (Arabe)</td>
                        <td><b> {{document.prenomAr}} </b></td>
                    </tr>
                    <tr>
                        <td>Nom (Arabe)</td>
                        <td><b> {{document.nomAr}} </b></td>
                    </tr>
                    <tr>
                        <td>Nom (Français)</td>
                        <td><b> {{document.nom}} </b></td>
                    </tr>
                    <tr>
                        <td>Prénom (Français)</td>
                        <td><b> {{document.prenom}} </b></td>
                    </tr>
                    <tr>
                        <td>Date de naissance</td>
                        <td><b> {{document.dateNaissance | date('d/m/Y')}} </b></td>
                    </tr>
                    <tr>
                        <td>Nationalité (Arabe)</td>
                        <td><b> {{document.nationaliteAr}} </b></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">  
                <table class="table table-light">
                    <tr>
                        <td>Sexe (Arabe)</td>
                        <td><b> {{document.sexeAr}} </b></td>
                    </tr>
                    <tr>
                        <td>Situation familiale (Arabe)</td>
                        <td><b> {{document.situationFamilialeAr}} </b></td>
                    </tr>
                    <tr>
                        <td>Situation administrative (Arabe)</td>
                        <td><b> {{document.situationAdministrativeAr}} </b></td>
                    </tr>
                    <tr>
                        <td>Ancienneté administrative</td>
                        <td><b> {{document.ancienneteAdministrative}} </b></td>
                    </tr>
                    <tr>
                        <td>Date de recrutement</td>
                        <td>
                            <b> {{document.dateRecrutement | date('d/m/Y')}} </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Echellon</td>
                        <td><b> {{document.echellon}} </b></td>
                    </tr>
                    <tr>
                        <td>Date d'effet echellon</td>
                        <td>
                            <b> {{document.dateEffetEchelon | date('d/m/Y')}} </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Ancienneté echellon</td>
                        <td>
                            <b> {{document.ancienneteEchelon }} </b>
                        </td>
                    </tr>
                    
                </table>
            </div>
            <div class="col-md-4">  
                <table class="table table-light">
                    <tr>
                        <td>Email</td>
                        <td>
                            <b> {{document.email}} </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td><b> {{document.gradeAr}} </b></td>
                    </tr>
                    <tr>
                        <td>Date d'effet grade</td>
                        <td>
                            <b> {{document.dateEffetGrade | date('d/m/Y')}} </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Ancienneté grade</td>
                        <td>
                            <b> {{document.anciennetegrade }} </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Fonction</td>
                        <td><b> {{document.fonction}} </b></td>
                    </tr>
                    <tr>
                        <td>Date de fonction</td>
                        <td>
                            <b> {{document.dateFonction | date('d/m/Y')}} </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td><b> {{document.position}} </b></td>
                    </tr>
                    <tr>
                        <td>Date de position</td>
                        <td>
                            <b> {{document.datePosition | date('d/m/Y')}} </b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>