{% extends 'admin/slide.html.twig' %}
 
{% block title %}Départements et services{% endblock %}

{% block body %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-bank"></i>
        </span> Départements et services
    </h3>
</div>

 <div class="card">
    <div class="card-body">
        <a href="{{ path('admin_parametre', {repo: 'Departement'}) }}" class="btn-success btn-sm">
            <i class="mdi mdi-database-plus" aria-hidden="true"></i> Ajouter un département/service
        </a>
        
        {% if documents|length > 0 %}
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nom Fr</th>
                        <th>Nom Ar</th>
                        <th>Chef</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>{{ document.nomFr }}</td>
                            <td>{{ document.nomAr }}</td>
                            <td>{{ document.chef.personnel.nom }} {{ document.chef.personnel.prenom }}</td>
                            <td>
                                <a href="{{ path('admin_set_departement', {repo : 'Departement', id:document.id}) }}" class="btn btn-outline-success btn-sm btn-icon-text">
                                    <i class="mdi mdi-pencil text-success"></i> Modifier
                                </a>
                                <a href="{{ path('admin_delete', {repo:'Departement', id:document.id}) }}" class="btn btn-outline-danger btn-sm btn-icon-text">
                                    <i class="mdi mdi-delete-forever text-danger"></i> Supprimer
                                </a>
                            </td>
                        </tr>      
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <center><p class="badge rounded-pill bg-danger">Aucun résultat trouvé</p></center>
        {% endif %}
        <div class="pagination mt-4">
            {{knp_pagination_render(documents) }}
        </div>
    </div>
</div>
{% endblock %}