{% extends 'admin/slide.html.twig' %}

{% block title %}Paramètres{% endblock %}
 
{% block body %}
<div class="container">
        <center><img src="{{asset('assets/images/logo.png')}}" style="align: right; " width="370px"></center>
        <hr><br>
        <div class="row">
          <div class="col-md-5">
            <div class="small-box bg-info">
              <div class="inner">
                  <h3>Départements et services</h3>
              </div>
              <div class="icon">
                  <i class="fa fa-building"></i>
              </div>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Departement'}) }}">
                plus d'info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="small-box bg-success">
              <div class="inner">
                  <h3>Véhicules de service</h3>
              </div>
              <div class="icon">
                  <i class="fa fa-bus"></i>
              </div>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Vehicule'}) }}">
              plus d'info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="small-box bg-warning">
              <div class="inner">
                  <h3>Chauffeurs</h3>
              </div>
              <div class="icon">
                  <i class="fa fa-male"></i>
              </div>
              <a class="small-box-footer" href="{{ path('admin_liste_documents', {repo: 'Chauffeur'}) }}">
              plus d'info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>        
      <br>
      <div class="row">
          <div class="col-md-6"><h4 class="text-info">Modifier l'en-tête de l'ordre de mission</h4></div>
          <div class="col-md-6"><h4 class="text-info">Modifier le logo de la FSTG</h4></div>
      </div>
      {{form_start(form)}}
      <div class="row">        
          <div class="col-md-6">
                <div class="small-box bg-light">
                  <div class="inner">
                      <img src="{{ asset('uploads/images/parametres/' ~ parametre.enTeteOrdreMission) }}" style="width=100%; height:180px">
                  </div>                 
                  <a class="small-box-footer">
                    <div class="row">
                      <div class="col-md-8">                   
                        {{form_row(form.enTeteOrdreMissionFile)}}
                      </div>
                      <div class="col-md-4">
                        <button type="submit" class="btn-sm">Modifier</button>
                      </div>
                    </div>
                  </a>
                </div>
          </div>
          <div class="col-md-6">
                <div class="small-box bg-light">
                  <div class="inner">
                      <img src="{{ asset('uploads/images/parametres/' ~ parametre.logo) }}" style="width=100%; height:180px">
                  </div>
                  <a class="small-box-footer">
                    <div class="row">
                      <div class="col-md-8">                   
                        {{form_row(form.logoFile)}}
                      </div>
                      <div class="col-md-4">
                        <button type="submit" class="btn-sm">Modifier</button>
                      </div>
                    </div>
                  </a>
                </div>
          </div>      
      </div>
      {{form_end(form)}}
</div>       
{% endblock %}