{% extends 'admin/slide.html.twig' %}

{% block title %}Paramètres{% endblock %}
 
{% block body %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-settings"></i>
        </span> Paramètres
    </h3>
</div>

<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
          <img src="{{asset('assets/images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3"> <i class="mdi mdi-bank mdi-24px float-right"></i></h4>
          <h2 class="mb-5">Départements et services</h2>
          <h6 class="card-text">
            <a class="text-white" href="{{ path('admin_liste_documents', {repo: 'Departement'}) }}">
                plus d'info <i class="mdi mdi-arrow-right-bold-circle"></i>
            </a>
        </h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="{{asset('assets/images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3"> <i class="mdi mdi-bus mdi-24px float-right"></i></h4>
          <h2 class="mb-5">Véhicules de service</h2>
          <h6 class="card-text">
            <a class="text-white" href="{{ path('admin_liste_documents', {repo: 'Vehicule'}) }}">
                plus d'info <i class="mdi mdi-arrow-right-bold-circle"></i>
            </a>
          </h6>
        </div>
      </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="{{asset('assets/images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3"><i class="mdi mdi-account mdi-24px float-right"></i></h4>
          <h2 class="mb-5">Chauffeurs</h2>
          <h6 class="card-text">
            <a class="text-white" href="{{ path('admin_liste_documents', {repo: 'Chauffeur'}) }}">
                plus d'info <i class="mdi mdi-arrow-right-bold-circle"></i>
            </a>
          </h6>
      </div>
    </div>
  </div>          
</div>

{{form_start(form)}}
<div class="row">
    <div class="col-md-6 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="text-primary">Modifier l'en-tête de l'ordre de mission</h4>
            <div class="inner">
              <img src="{{ asset('uploads/images/parametres/' ~ parametre.enTeteOrdreMission) }}" width="100%">
            </div>                 
            <a class="small-box-footer">
              <div class="row">
                <div class="col-md-8">                   
                  {{form_row(form.enTeteOrdreMissionFile)}}
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-block btn-gradient-primary mb-2">Modifier</button>
                </div>
              </div>
            </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="text-primary">Modifier le logo de la FSTG</h4>
            <div class="inner">
              <img src="{{ asset('uploads/images/parametres/' ~ parametre.logo) }}" width="100%">
            </div>                 
            <a class="small-box-footer">
              <div class="row">
                <div class="col-md-8">                   
                  {{form_row(form.logoFile)}}
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-block btn-gradient-primary mb-2">Modifier</button>
                </div>
              </div>
            </a>
        </div>
      </div>
    </div>
</div>
{{form_end(form)}}
 
{% endblock %}