{% extends 'user/slide.html.twig' %}

{% block title %}Acceuil{% endblock %}
 
{% block body %}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-format-list-bulleted"></i>
        </span> Vos demandes
    </h3>
</div>

<div class="row">
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="{{asset('assets/images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Attestations de travail <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{ app.user.personnel.attestations_travail | length }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="{{asset('assets/images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Attestations de salaire <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{ app.user.personnel.attestations_salaire | length }}</h2>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="{{asset('assets/images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Demandes d'absence <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{ app.user.personnel.absences | length }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-primary card-img-holder text-white">
            <div class="card-body">
                <img src="{{asset('assets/images/dashboard/circle.svg')}}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Demande d'ordre de mission <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{ app.user.personnel.ordres | length }}</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-format-list-bulleted"></i>
        </span> Suivre les demandes
    </h3>
</div>

<div class="card">
    <div class="card-body"> 
        <div class="table-responsive">
            <table class="table">
                <tr class="text-primary">
                    <th colspan="2"><i class="mdi mdi-file-document-box m-2"></i>Demandes</th>
                    <th><i class="mdi mdi-bell m-2"></i> Statut</th>                   
                </tr>
                    <!-- Attestation de salaire -->
                    {% for  demande in app.user.personnel.attestations_salaire %}
                        {% if demande.statut != 'Reçu' %}
                            <tr>
                                <td colspan="2">
                                    Vous avez déposez une demande d'attestation de salaire (<b>{{demande.type}}</b>) le {{demande.createdAt | date('d/m/Y à H:i')}}
                                </td>                   
                                <td>{{ demande.statut | typedemande | raw }}</td>
                            </tr> 
                        {% endif %}
                    {% endfor %}
                    <!-- Attestation de travail -->
                    {% for  demande in app.user.personnel.attestations_travail %}
                        {% if demande.statut != 'Reçu' %}
                            <tr>
                                <td colspan="2">
                                    Vous avez déposez une demande d'attestation de travail le {{demande.createdAt | date('d/m/Y à H:i')}}
                                </td>                   
                                <td>{{ demande.statut | typedemande | raw }}</td>
                            </tr> 
                        {% endif %}
                    {% endfor %}
                    <!-- Absences -->
                    {% for  demande in app.user.personnel.absences %}
                        {% if demande.statut != 'Reçu' %}
                            <tr>
                                <td colspan="2">
                                   {% if demande.statut == 'Refusé par le département' or  demande.statut == 'Refusé par l\'administration' %}
                                        <a href="{{ path('user_delete', {repo: 'Absence' ,id: demande.id}) }}" class="btn btn-sm btn-outline-danger mr-2">
                                            <i class="mdi mdi-delete" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                    Vous avez déposez une demande d'absence {{demande.cause | cause | raw}} le {{demande.createdAt | date('d/m/Y à H:i')}}
                                </td>                   
                                <td>{{ demande.statut | typedemande | raw }}</td>
                            </tr> 
                        {% endif %}
                    {% endfor %}
                    <!-- Ordres de mission -->
                    {% for  demande in app.user.personnel.ordres %}
                        {% if demande.statut != 'Reçu' %}
                            <tr>
                                <td colspan="2">
                                    {% if demande.statut == 'Refusé par le département' or  demande.statut == 'Refusé par l\'administration' %}
                                    <a href="{{ path('user_delete', {repo: 'OrdreMission' ,id: demande.id}) }}" class="btn btn-sm btn-outline-danger mr-2">
                                        <i class="mdi mdi-delete" aria-hidden="true"></i>
                                    </a>
                                    {% endif %}
                                    Vous avez déposez une demande d'ordre de mission (destination : <b>{{demande.destination}}</b>) le {{demande.createdAt | date('d/m/Y à H:i')}}
                                </td>                   
                                <td>{{ demande.statut | typedemande | raw }}</td>
                            </tr> 
                        {% endif %}
                    {% endfor %}
            </table>
        </div>  
        {% if app.user.personnel.ordres | length < 0 and app.user.personnel.absences | length < 0 and app.user.personnel.attestations_travail | length < 0 and app.user.personnel.attestations_salaire | length < 0 %}
            <center><span class="btn btn-sm rounded-pill btn-danger">Vous n'avez aucune demande en cours de traitement</span></center>
        {% endif %}
    </div>
</div>
{% endblock %}