<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>        
    </head>

    <body>
        <div class="area"></div>
            <nav class="main-menu">
                <ul>
                    <br>               
                    <li>
                        <a href="{{ path('user_profil') }}" class="slide">
                            <i class="fa fa-user fa-2x"></i>
                            <span class="nav-text">
                                {{ app.user.personnel.nom }} {{ app.user.personnel.prenom }}
                            </span>
                        </a>
                    
                    </li><br><br>
                    <li>
                        <a href="{{ path('user') }}" class="slide">
                            <i class="fa fa-home fa-2x"></i>
                            <span class="nav-text">
                                Accueil
                            </span>
                        </a>
                    
                    </li>
                    <li class="has-subnav">
                        <a class="slide" href="{{ path('user_demande_document', {repo: 'AttestationTravail'}) }}">
                            <i class="fa fa-file fa-2x" class="slide"></i>
                            <span class="nav-text">
                                Attestation de travail
                            </span>
                        </a>
                        
                    </li>
                    <li class="has-subnav">
                        <a class="slide" href="{{ path('user_demande_document', {repo: 'AttestationSalaire'}) }}">
                        <i class="fa fa-file-text fa-2x"></i>
                            <span class="nav-text">
                                Attestation de salaire
                            </span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="{{ path('user_demande_document', {repo: 'Absence'}) }}" class="slide">
                            <i class="fa fa-list-alt fa-2x"></i>
                            <span class="nav-text">
                                Demande d'absence
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user_demande_document', {repo: 'OrdreMission'}) }}" class="slide">
                            <i class="fa fa-list fa-2x"></i>
                            <span class="nav-text">
                            Ordre de mission
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('message') }}" class="slide">
                            <i class="fa fa-envelope fa-2x"></i>
                            <span class="nav-text">
                            Messagerie
                            </span>
                        </a>
                    </li>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li>
                        <a href="{{ path('admin') }}" class="slide">
                            <i class="fa fa-arrow-left fa-2x"></i>
                            <span class="nav-text">
                            Espace d'admin
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('user_historique') }}" class="slide">
                            <i class="fa fa-history fa-2x"></i>
                            <span class="nav-text">
                            Historique de mes demandes
                            </span>
                        </a>
                    </li>
                </ul>

                <ul class="logout">
                    <li>
                    <a href="{{ path('security_logout') }}" class="slide">
                            <i class="fa fa-power-off fa-2x"></i>
                            <span class="nav-text">
                                Logout
                            </span>
                        </a>
                    </li>  
                </ul>
            </nav>
            {% block body %}{% endblock %}
        <style>
            body {
                font-family: 'Open Sans', sans-serif;
                color: #1a1a1a;
                background-color: #F1F1F1; }
            .container {
                margin-top: 30px;
                margin-bottom: 15px;
                margin-left: 90px;
                min-height: 90vh;
                width:100%;
                background-color: #ffffff;
                border-radius: 5px;
                box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); }
        </style>

        <script src="{{asset('assets/js/script.js')}}"></script>         
    </body>   
</html>
