{% extends 'user/slide.html.twig' %}

{% block title %}طلب رخصة أو الإذن بالتغيب{% endblock %}
 
{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
    <div id="sectionAimprimer" dir="rtl" lang="ar">
        {% for i in 0..2 %}
            <div style="text-align: right; line-height: 0.5; padding:30px 40px 0 40px;font-family:times; font-size: 19px">
                <p>جامعة القاضي عياض</p>
                <p>&nbsp;كلية العلوم والتقنيات</p>
                <p>&nbsp;مراکش
                    <center><u><b>(*)طلب رخصة أو الإذن بالتغيب</b></u></center>
                </p><br>
                <p>  
                    الإسـم الكـامـل &nbsp; &nbsp; &nbsp; : &nbsp; {{ document.nomar }} {{ document.prenomar }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    الإطار &nbsp; &nbsp; : &nbsp; &nbsp; {{ document.grade }}
                </p>
                <p><br> المصلحة أو الشعبة : &nbsp;  {{ document.filiere }}</p>
                <p> سبب الغيـاب &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; {{ document.cause }}</p>
                <p> مـدة الغيــاب &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; {{ document.duree }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    ابتداء من &nbsp; &nbsp; : &nbsp; &nbsp; {{ document.apartir }}
                </p>                    
                <p>: مراكـش فـي &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp;  {{ document.createdAt | date('d/m/Y') }}   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    توقيع الموظف
                </p>
                <p>&nbsp;: قرار السيد رئيس الشعبة أو المصلحة</p>
                <p><br></p>
                <strong>
                    <p style="text-align: left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;خـاتـم المؤسسة </p>
                    <p>&nbsp;.يسحب الطلب من مقر العمل ويعاد إليه بعد تعبئته - (*) </p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                    <p>. لا تعتبر الرخصة سارية المفعول إلا بعد تلقي الموافقة الفعلية عليها -</p>
                </strong>
                <br><hr>
            </div>
        {% endfor %}
                
    </div>
</div>
    <center>
      <button class="btn btn-warning" onClick="imprimer('sectionAimprimer')">
        <i class="fa fa-print" aria-hidden="true"></i> Imprimer
      </button>
      <a href="{{ path('user_change_statut', {repo: 'Absence', id: document.id, etat: 'Validé par le département'}) }}" class="btn btn-success">
            <i class="fa fa-print" aria-hidden="true"></i> Validé
        </a>
        <a href="{{ path('user_change_statut', {repo: 'Absence', id: document.id, etat: 'Refusé par le département'}) }}" class="btn btn-danger">
            <i class="fa fa-print" aria-hidden="true"></i> Refusé 
        </a>
    <center>
{% endblock %}


  